// main.css
html {
	position: absolute;
	min-height: 100% !important;
}

body {
	position: absolute;
	color: #fff;
	font-family: Futura;
	background-color: #000;
	height: 100%;
	min-height: 100% !important;
	min-width: 100% !important;
}

p {
	margin-top: 40px;
	text-align: center;
}

.logo {
	position: absolute;
	margin-left: 30% !important;
	top: 33% !important;
	letter-spacing: -2px;
	font-size: 90pt;
	font-weight: 900;
}